<div class="hero-unit center">
<p id="notice"><%= notice %></p>
<%= @size_pay.name.html_safe %> |
<%= link_to 'Редактировать', edit_size_pay_path(@size_pay) %> |
<%= link_to 'Назад', size_pays_path %>
</div>
