<div class="hero-unit center">
Ворос
  <div id="answerbox"><%= @answerpost.text.html_safe %></div>
Ответ
  <div id="answerbox">
  <%= "Ваш вопрос еще обрабатывается" if @answerpost.answer.nil? || @answerpost.answer.size == 0 %>  
  <%= @answerpost.answer.html_safe if !@answerpost.answer.nil? %>
  </div>
</p>
<br>
  <%= link_to 'Назад к вашим вопросам', answerposts_path %>
</div>