<% provide(:title, @user.name) %>
<div class="hero-unit center">
 <div class="row">
   <aside class="span4">
     <center><strong><p> Информация о пользователе <p></strong></center>
     <p><strong> Имя: </strong>  <%= @user.name %> </p>
     <p><strong> Почтовый ящик: </strong> <%= @user.email %> </p>
     <%= link_to 'Редактировать профиль', edit_user_path(@user) %>
   </aside>
 </div>
</div>