<% provide(:title, 'Социальная защита населения') %>
<% content_for :description do %>
  <%= meta_description(@content.name) %>
<% end %>

 <div class="row">
  <ul id="nav_list_first" class="nav_list">
    
    <p>
    <% @social_service_posts.each do |post| %>
      <li><a href="#"><%= post.title.html_safe %></a>
        <ul><li><a href="#"><%= post.text.html_safe %></a></li></ul>
      </li>
    <% end %>
  </ul>
  </p>
  <%= link_to 'Назад', social_services_path %>
  </div>

