<div class="hero-unit center">
<p id="notice"><%= notice %></p>

<table>
  <tbody>
    <% @aboute_posts.each do |aboute_post| %>
      <tr>
        <td><p><%= link_to aboute_post.title.html_safe, aboute_post %></p></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
</div>
