<% provide(:title, 'Документы') %>

<div class="row"><div class="alert alert-success" role="alert"><h3 class="center_align">Документы</h3></div></div>

<table class="table">
  <% @documents.each do |doc| %>
    <tr><td><%= link_to doc.title.html_safe, document_path(doc), class: "href" %></td></tr>
  <% end %>
</table>

