<% provide(:title, 'Информация о выплатах') %>
  <div class="row"><div class="alert alert-success" role="alert"><h3 class="center_align">Информация о выплатах</h3></div></div>
  <p id="notice"><%= notice %></p>

<table>
  <tbody>
    <% @payment_infos.each do |payment_info| %>
      <tr>
        <div class="date"><%= payment_info.created_at.localtime.strftime("%d-%m-%Y %H:%M") %></div>
        <%= link_to payment_info.title.html_safe, payment_info_path(payment_info), class: "href" %>
      </tr>
    <% end %>
  </tbody>
</table>

