<% provide(:title, 'Информация о выплатах') %>

<div class="hero-unit center">
<div class="row"><div class="alert alert-success" role="alert"><h3 class="center_align"><%= @payment_info.title.html_safe %></h3></div><p id="notice"><%= notice %></p></div>
<p><%= @payment_info.text.html_safe %></p>
</div>