<% provide(:title, 'Контакты и адреса') %>
<div class="center hero-unit">
<p>ГКУ "ЕСРЦ" Забайкальского края, ул, Богомягкова 23</p>
<%= link_to image_tag("/images/main_office.jpg", alt: "ГКУ Единый социальный расчетный центр Забайкальского края", :width => 700, :height => 500), 'http://esrc-zbp.ru:3000/esrc_zbp/home' %>
<p>Контакты:</p>
<p>Руководство:</p>
<p>Отдел кадров и делопроизводства:</p>
<p>Отдел автоматизации:</p>
<p>Отдел бухгалтерского учета и отчетности:</p>
<p>Планово-экономический отдел:</p>
<p>Отдел предоставления социальных выплат:</p>
</div>
