<footer class="footer">
 <div class="footer-board">
  <small>
    <ul>
    <li><%= link_to 'ГКУ "КЦСЗН" Забайкальского края 2016г (C)', root_path %></li>
    </ul>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Министерство социальной защиты населения", "http://xn--h1aheeo5a.xn--80aaaac8algcbgbck3fl0q.xn--p1ai/", target: "_blank" %></li>
      <li><%= link_to "О нас", aboutes_path %></li>

    </ul>
  </nav>
  </div>
</footer>
