<div class="row">
  <div class="col-md-4 col-sm-6">
    <div class="alert alert-success" role="alert"><h3 class="center_align">Информация</h3></div>
      <p>Предложения и замечания по работе сайта просим отправлять на электронный адрес: kungurov@esrc-zbp.ru</p>
      <hr class="hr_success">
      <p>Для того, что бы задать вопрос, вам необходимо зайти в личный кабинет.</p>
      <hr class="hr_success">
      <p>Кнопка личный кабинет появляется в меню автоматически после регистрации и входа на сайт</p>
      <hr class="hr_success">
      <p>Документы на предоставление мер социальной поддержки в том числе в субботние дни можно предоставлять в филиалы ГКАУ "МФЦ".</p>
      <%= link_to "Перейти к календарю", 'http://www.mfc-chita.ru/filial/chita/calendar/day/', target: "_blank", class: "btn btn-success btn-lg", role: "button" %>
    </div>

  <div class="col-md-4 col-sm-6">
    <div class="alert alert-info" role="alert"><h3 class="center_align">Контакты</h3></div>
      <p> Мы будем рады услышать вас!
      <%= image_tag("phone-s1.png", :width => '25%') %>
      Телефоны горячей линии по г.Чита:<br> 35-07-23; 35-07-28; 35-07-34<br> 
      Так же вы можете написать обращение на электронный адрес: general_esrc@esrc-zbp.ru <br> или задать вопрос в личном кабинете.</p>
  </div>
</div>