<div class="row">
<div class="alert alert-success" role="alert"><h3 class="center_align">Последние новости</h3></div>
  <% @article.each do |elem| %>
    <div class="col-md-4 col-sm-6">
      <div class="text-icon wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
        <span class="icon-ar icon-ar-lg glyphicon glyphicon-star-empty"><i class="fa fa-cloud"></i></span>
        <div class="text-icon-content">
          <h3 class="no-margin"><%= elem.created_at.localtime.strftime("%d/%m/%Y %H:%M") %></h3>
          <p><%= link_to elem.title.html_safe, article_path(elem), class: "href" %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-4 col-sm-6"> 
    <h4><%= link_to "Все новости", articles_path %></h4>
  </div>
</div>